

.formulario{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
    
}
form.formulario div {
    padding: 10px 0px;
    width: 100%;
}
.nombre, .usuario, .email, .fecha, .domicilio, .password{
    border: 2px solid #ebebeb;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    
}

.label{
    padding: 0px;
}

.label-form{
    margin: 0;
    display: block;
    font-weight: 600;
    padding-bottom: 15px;

}

div.perfil .contenedor-pefil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.intereses-lebel-input{
    padding-left: 15px;
}

.contenedor-foto-usuario{
    margin: 0;
    padding: 0;
}


div.contraseña div.label-contraseña,div.contraseña div.contenedor-contraseña{
    margin: 0px;
    padding: 0px;
}


.contenedor-button{
    display: flex;
    flex-direction: row;
    
}

button{
    border: 2px solid #ebebeb;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    background-color: #ffff;
    color: black;
}

                            /* animacion boton enviar*/
button.button-enviar:hover{
    background-color: #0022AA;
    color: #ffff;
}

button.button-borrar:hover{
    background-color: #EAC926;
    color: #ffff;
}


button{
    transition: background-color 2.5s;
}


@media(min-width:361px){
    .formulario{
        width: 60%;
    }
}

@media(min-width:769px){
    .formulario{
        width: 45%;
    }
}